<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Controller.Tests.Properties.Settings.DFLinkTestConnectionString"
            connectionString="Data Source=172.18.3.100;Initial Catalog=DFLinkTest;User ID=nate;Password=ondemand"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>