<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Request" value="Demandforce.DFLink.Controller.Task.RequestTask,  Controller, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="Updater" value="Demandforce.DFLink.Updater.Updater, Updater,  Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </appSettings>
</configuration>